### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
target/
*.class

### Gradle ###
.gradle/
build/

### Eclipse ###
.classpath
.factorypath
.project
.settings/
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS Specific ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Temp Files ###
*.tmp
*.temp
